@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FAE2F4;
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    color: #FF0099;
    min-height: 100vh;
}

.home-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.home-main-section .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    min-width: 100px;
    height: auto;
    border-radius: 20px;
}

.home-main-section-2 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}

.home-main-section-2 .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.home-main-section-2 .call-to-action {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
}
.home-main-section {
    justify-content: center;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.brand-logo {
    display: flex;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
    margin-left: 0rem;
    max-width: 100%; 
    min-width: 150px;
    min-height: 100px;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: right;
}


.main-nav a {
    color: inherit;
    text-decoration: none;
    padding:1rem
}

.main-nav a:hover {
    color: #900057
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-family: Abril Fatface, sans-serif;
    font-size: 2rem;
    color:#FF0099
}

aside {
    font-family: Abril Fatface, sans-serif;
    font-size: 2rem;
    color:#FF0099
}

.btn {
    color:white;
    background-color: #FF0099;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem
}

.btn:hover {
    background-color:#900057;
    color: white;
}

.container-2 {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 10px;

}

.card {
    background: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    background-color: #FAE2F4;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-1 {
    background-image: url(images/nathan-walker-pq0TD55ZihQ-unsplash\ \(1\).jpg);
}

.card-2 {
    background-image: url(images/lan-gao-mo28-RNn8j4-unsplash.jpg);
}

.card-3 {
    background-image: url(images/natalie-chaney-FQJMhdEYXtA-unsplash.jpg);
}

.card h2 {
    padding: 20px;
}

.card p {
    padding: 20px;
}

.card a {
    background-color: #FF0099;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: .5rem;
    text-decoration: none;
}

.card:hover {
    background-color: #900057;
    color: white;
    cursor: pointer;
    transform: scale(1.03)
} 

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FAE2F4;
}

.footer-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav li {
    margin-right: 20px;
}

.footer-nav a {
    color: inherit;
    text-decoration: none;
}

.footer-nav a:hover {
    color: #900057;
}

.footer-nav-2 ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav-2 li {
    margin-right: 10px;
}

.footer-nav-2 a {
    color: inherit;
    text-decoration: none;
}

.footer-nav-2 a:hover {
    color: #900057;
}

.footer-nav ul,
.footer-nav-2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }

    .footer-nav,
    .footer-nav-2 {
        margin-top: 10px;
    }

    .footer-nav li,
    .footer-nav-2 li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-nav-2 li {
        margin-right: 10px;
    }

    .footer-nav-2 ul {
        flex-direction: row;
    }
}



@media screen and (max-width:500px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }


}

@media screen and (max-width: 768px) {
    .footer-nav-2 ul {
        flex-direction: row;
        align-items: center;
    }

    .footer-nav-2 li {
        margin: 5px;
    }

    .footer-nav-2 a {
        font-size: 18px; 
    }
}